name: DEV CI Pipeline

on:
  push:
    branches:
      - dev

jobs:
  run-ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: List Files
        run: ls -la

      - name: Print Commit Info
        run: echo "Commit triggered by ${{ github.actor }}"
